
/* Google fonts used: 
   - Merriweather (serif) for text
   - Oswald (sans-serif) for titles

   Main colors: 
   - #07364a (dark blue) - Primary color
   - #0B4F6C (light blue)- Secoundary color
   - #F1F6F9 (white) for highlighting on dark blue
   - #D3E0EA (light blue) 

   Goals for this week: 
   - design patterns
   - heading
   - responsive heading 
   - footer
   - responsive footer
   -
*/


.color-box-container {
    display: flex;
    background-color: #07364a; 
}
.color-box {
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    margin: 24px;
}

.main-color {
    background-color: #07364a
}
.sec-color{
    background-color: #0B4F6C;
}

.third-color {
    background-color: #D3EaEA;

}

.fourth-color{
    background-color: #F1F6F9;
}
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    background-color: #07364a;
    background-image: linear-gradient(180deg,#07364a,#07364a, #07364a, #07364a, #0B4F6C);
    padding: 24px;
    position: relative;
    margin-bottom: 20vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
}


h1{
    font-family: 'Merriweather', serif;
    color: #D3E0EA ;
    border-bottom: 2px solid #D3E0EA ;
    letter-spacing: 3px;

    
}
h1 span:first-child {
    display: block;
    margin-bottom:  -10px;
}

h1 span:last-child {
    color: #0B4F6C;
}

h2 {
    color: #F1F6F9;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    margin-top: -24px;
    text-transform: uppercase;

}

.cta-button {
    margin: auto;
    text-align: center;
}

button {
    cursor: pointer;
    transition: .4s;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    color: #D3E0EA;
    padding: 12px;
    text-decoration: none;
    background: none;
    border: 2px solid #0B4F6C;

}
button:hover {
    border-color: #fff;
    color: #fff;
}

.wave-square {
    height: 5vh;
    min-height: 50px;
    background-color: #0B4F6C;
    width: 100%;
}
.wave {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 45px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: #0B4F6C;
    background-image: linear-gradient(90deg,#07364a,#07364a, #0B4F6C);

}