
/* Google fonts used: 
   - Merriweather (serif) for text
   - Oswald (sans-serif) for titles

   Main colors: 
   - #07364a (dark blue) - Primary color
   - #0B4F6C (light blue)- Secoundary color
   - #F1F6F9 (white) for highlighting on dark blue
   - #D3E0EA (light blue) 
*/

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
  
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    background-color: #F5F0F6;
}
a {
    text-decoration: none;
    color: #F5F0F6
}
/* header styles */

header {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 80vh;
    padding: 24px;
    margin-bottom: 20vh;
    background-color: #2B4162; 
    background: url("/pictures/ashwini-chaudhary-monty-czPD6s3JQmk-unsplash.jpg"); 
    background: 
    linear-gradient(180deg, #2b4162a1 0%, #2b416260 65%, #2b416250 70%, rgba(4,36,60,1) 100%),
    url(/pictures/earth.png), url("/pictures/ashwini-chaudhary-monty-czPD6s3JQmk-unsplash.jpg");
    background-size: cover, cover, cover;
    background-repeat: no-repeat;
    background-position: center, center, center;

    

 
}

header h1{
    font-size: 26px;
    letter-spacing: 5px;
    text-transform: lowercase;    
    color: #F5F0F6;
    border-bottom: 1px solid #64b6aca0;
}

header h1 span:first-child {
    opacity: 50%;
}
header h1 span:last-child {
    color: #385F71;
    opacity: 100%;
}

header h2 {
    color: #F5F0F6;
    letter-spacing: 5px;
    font-family: 'Oswald', sans-serif;
    margin-top: -26px;
    font-size: 36px;
    text-transform: uppercase;
    opacity: 60%;



}
header div{
    display: flex;
    margin: auto;
}

#arrow-icon {
    padding: 14px 10px 24px;
    font-size: 30px;
    color: #64b6ac;
    display: block;
    text-align: center;
    transition: .6s;
}

header a {
    padding: 14px 6px 0px 6px;
    background: none;
    border: 1px solid #64b6ac;
    cursor: pointer;
    color: #F5F0F6;
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    opacity: 70%;
    transition: .6s;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: 30vh;
}
header a:hover {
    opacity: 100%;
}

header .wave {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

header .wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
    transform: rotateY(180deg);
}

header .wave .shape-fill {
    fill: #04243c;
}